PORT=3000

# LLM 
GROQ_API_KEY=your_groq_api_key_here

# Shopify Integration
SHOPIFY_API_KEY=your_shopify_access_token_here
SHOPIFY_STORE_URL=your-store-name.myshopify.com

# CRM (HubSpot) Integration
HUBSPOT_API_KEY=your_hubspot_api_key_here

# Memory Vector DB (Qdrant)
QDRANT_URL=your_qdrant_url_here
QDRANT_API_KEY=your_qdrant_api_key_here
